html, body {
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
head, h1{
    text-align: center;
}
.nav__menu {
    display: flex;
    justify-content: space-around;
    background-color: rgba(3, 3, 3, 0.788);
    padding: 1rem;
}
.nav__menu, a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}
.nav__menu a:hover {
    background-color: rgb(116, 112, 112);
    border-radius: 5px;
}
.container__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    gap: 2rem;
}
.image__cane, img {
    width: 100%;
    height: auto;
}
.container__form {
    width: auto;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgb(245, 243, 243);
    border-radius: 5px;
}
footer {
    text-align: center;
    
}