* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; 
  overflow: hidden;
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

/*
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 16px;
  text-align: center;
}
  */

a:hover {
  background-color: #ddd;
  color: black
}

.column {
    float: left;
    padding: 10px;
    height: 100vh;
}

.column.side {
    width: 25%;
}

.column.main {
    width: 50%;
}

.image.float {
    float: right;
}

img {
    width: 70%; 
    height: auto;
    border-radius: 8px;
}

.container_teaxt-float2 {
    clear: both;
}

.hidden {
    display: none;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  margin: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__x {
  padding: 2px;
  margin: 2px;
  text-align: right;
  color: red;
  font-size: 40px;
}

.square {
  width: 60px;
  height: 60px;
  background-color: red;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.square.hide {
  opacity: 0;
  pointer-events: none;
}

footer {
  background-color: #222;
  color: #eee;
  text-align: center;
  padding: 20px;
  margin-top: auto; 
}