.container {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
}

.square {
    width: 100%;
    padding-top: 100%;
    background-color: aqua;
    position: relative;
}

.container__px {
  width: 100%;
  margin: auto;
}

.square__px {
  width: 400px;
  height: 400px;
  background-color: blueviolet;
}

.container__size {
    width: 50%;
    height: auto;
    border: 1px solid black;
    font-size: 18px;
    margin-top: 10px;
}

.container__size-em {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.container__size-rem {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

:root {
    --main-red: #e60000;
}

* {
    color: var(--main-red);
    border-color: var(--main-red);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

h1, p {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: 2px solid var(--main-red);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: var(--main-red);
    color: white;
}

:root {
    --main-paddin: 20px;
}

.box {
    background-color: blanchedalmond;
    padding: var(--main-paddin);
    border: 1px solid #ccc;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.container_empty {
    width: 400px;
    height: auto;
    padding: 15px;
    margin: 10px;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
}

.container__inlineBlock {
    display: flex;
    justify-content: center;
    padding: var(--main-paddin);
}

ul, li {
    display: inline-block;
    list-style: none;
    color: black;
}

.container1 {
    border: 2px solid black;
    background-color: azure;
    height: 200px;
    width: 400px;
    margin: 12px;
    padding: 5px;
    text-align: center;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}